## Retail Analysis with Walmart Data

In [1]:
import pandas as pd
import numpy as np

In [4]:
df_wss = pd.read_csv(r'C:\Users\shrab\Downloads\Walmart_Store_sales.csv')
df_wss.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [5]:
df_wss.shape

(6435, 8)

In [6]:
df_wss.isnull().sum()

Store           0
Date            0
Weekly_Sales    0
Holiday_Flag    0
Temperature     0
Fuel_Price      0
CPI             0
Unemployment    0
dtype: int64

In [7]:
df_wss.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

## Basic Statistics tasks

## Which store has maximum sales

In [9]:
df_groupby = df_wss.groupby('Store')['Weekly_Sales'].sum()
print(df_groupby.shape)
print(df_groupby.head())

(45,)
Store
1    2.224028e+08
2    2.753824e+08
3    5.758674e+07
4    2.995440e+08
5    4.547569e+07
Name: Weekly_Sales, dtype: float64

In [10]:
print( ' Store with maximum sales: ', df_groupby.idxmax())

 Store with maximum sales:  20

## Which store has maximum standard deviation i.e., the sales vary a lot. Also, find out the coefficient of mean to standard deviation

In [11]:
df_groupstd = df_wss.groupby('Store')['Weekly_Sales'].std()
print(df_groupstd.shape)
print(df_groupstd)

(45,)
Store
1     155980.767761
2     237683.694682
3      46319.631557
4     266201.442297
5      37737.965745
6     212525.855862
7     112585.469220
8     106280.829881
9      69028.666585
10    302262.062504
11    165833.887863
12    139166.871880
13    265506.995776
14    317569.949476
15    120538.652043
16     85769.680133
17    112162.936087
18    176641.510839
19    191722.638730
20    275900.562742
21    128752.812853
22    161251.350631
23    249788.038068
24    167745.677567
25    112976.788600
26    110431.288141
27    239930.135688
28    181758.967539
29     99120.136596
30     22809.665590
31    125855.942933
32    138017.252087
33     24132.927322
34    104630.164676
35    211243.457791
36     60725.173579
37     21837.461190
38     42768.169450
39    217466.454833
40    119002.112858
41    187907.162766
42     50262.925530
43     40598.413260
44     24762.832015
45    130168.526635
Name: Weekly_Sales, dtype: float64

In [12]:
print(  'Store with maximum standard deviation: ', df_groupstd.idxmax())

Store with maximum standard deviation:  14

In [14]:
df_groupmean = df_wss.groupby('Store')['Weekly_Sales'].mean()
print(df_groupmean.shape)
cms = (df_groupstd.sum() / df_groupmean.sum()) * 100
print('Coefficient of variation of Weekly Sales: ', cms)

(45,)
Coefficient of variation of Weekly Sales:  13.523458876035269

## Which store/s has good quarterly growth rate in Q3’2012

In [17]:
df_Q3_2012 = df_wss[
	(pd.to_datetime(df_wss['Date'], dayfirst=True) >= pd.to_datetime('01-07-2012', dayfirst=True)) &
	(pd.to_datetime(df_wss['Date'], dayfirst=True) <= pd.to_datetime('30-09-2012', dayfirst=True))
]
df_wss_growth = df_Q3_2012.groupby('Store')['Weekly_Sales'].sum()
print("Store Number with maximum sales in Q3'2012: ", df_wss_growth.idxmax())

Store Number with maximum sales in Q3'2012:  4

## Some holidays have a negative impact on sales.

## Find out holidays which have higher sales than the mean sales in non-holiday season for all stores together

In [18]:
stores_holiday_sales = df_wss[df_wss['Holiday_Flag'] == 0]

stores_nonholiday_sales = df_wss[df_wss['Holiday_Flag'] == 1]

In [21]:
stores_holiday_sales_mean = df_wss[(df_wss['Holiday_Flag'] == 0)]['Weekly_Sales'].mean()
stores_nonholiday_sales_mean = df_wss[(df_wss['Holiday_Flag'] == 1)].groupby('Date')['Weekly_Sales'].mean()

In [23]:
# Find holiday dates where mean sales are higher than the mean of non-holiday sales
higher_holiday_sales = stores_nonholiday_sales_mean[stores_nonholiday_sales_mean > stores_holiday_sales_mean]
print(higher_holiday_sales)

Date
07-09-2012    1.074001e+06
10-02-2012    1.111320e+06
11-02-2011    1.051915e+06
12-02-2010    1.074148e+06
25-11-2011    1.479858e+06
26-11-2010    1.462689e+06
Name: Weekly_Sales, dtype: float64

## Provide a monthly and semester view of sales in units and give insights

In [25]:
# Convert 'Date' column to datetime if not already
df_wss["Date"] = pd.to_datetime(df_wss["Date"], dayfirst=True)

df_wss["Month"] = df_wss["Date"].dt.to_period("M")
df_wss["Semester"] = df_wss["Date"].dt.month.apply(lambda x: 1 if x <= 6 else 2)
df_wss["Year"] = df_wss["Date"].dt.year

monthly_sales = df_wss.groupby(["Year", "Month"])["Weekly_Sales"].sum()
semester_sales = df_wss.groupby(["Year", "Semester"])["Weekly_Sales"].sum()

print("Monthly Sales:\n", monthly_sales)
print("\nSemester Sales:\n", semester_sales)

Monthly Sales:
 Year  Month
2010  2010-02    1.903330e+08
      2010-03    1.819198e+08
      2010-04    2.314124e+08
      2010-05    1.867109e+08
      2010-06    1.922462e+08
      2010-07    2.325801e+08
      2010-08    1.876401e+08
      2010-09    1.772679e+08
      2010-10    2.171618e+08
      2010-11    2.028534e+08
      2010-12    2.887605e+08
2011  2011-01    1.637040e+08
      2011-02    1.863313e+08
      2011-03    1.793564e+08
      2011-04    2.265265e+08
      2011-05    1.816482e+08
      2011-06    1.897734e+08
      2011-07    2.299114e+08
      2011-08    1.885993e+08
      2011-09    2.208477e+08
      2011-10    1.832613e+08
      2011-11    2.101624e+08
      2011-12    2.880781e+08
2012  2012-01    1.688945e+08
      2012-02    1.920636e+08
      2012-03    2.315097e+08
      2012-04    1.889209e+08
      2012-05    1.887665e+08
      2012-06    2.406103e+08
      2012-07    1.875095e+08
      2012-08    2.368508e+08
      2012-09    1.806455e+08
      2012-10    1.843617e+08
Name: Weekly_Sales, dtype: float64

Semester Sales:
 Year  Semester
2010  1           9.826223e+08
      2           1.306264e+09
2011  1           1.127340e+09
      2           1.320860e+09
2012  1           1.210765e+09
      2           7.893674e+08
Name: Weekly_Sales, dtype: float64

## Statistical Model

## For Store 1 – Build prediction models to forecast demand

## Linear Regression – Utilize variables like date and restructure dates as 1 for 5 Feb 2010 (starting from the earliest date in order). Hypothesize if CPI, unemployment, and fuel price have any impact on sales.

In [27]:
store1 = df_wss[df_wss["Store"] == 1].copy()
store1 = store1.sort_values("Date")
store1["Day_Index"] = range(1, len(store1) + 1)

In [31]:
%pip install statsmodels
import statsmodels.api as sm

Requirement already satisfied: statsmodels in c:\users\shrab\appdata\local\programs\python\python39\lib\site-packages (0.14.4)
Requirement already satisfied: packaging>=21.3 in c:\users\shrab\appdata\roaming\python\python39\site-packages (from statsmodels) (24.2)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\shrab\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (2.2.3)
Requirement already satisfied: patsy>=0.5.6 in c:\users\shrab\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (1.0.1)
Requirement already satisfied: scipy!=1.9.2,>=1.8 in c:\users\shrab\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (1.13.1)
Requirement already satisfied: numpy<3,>=1.22.3 in c:\users\shrab\appdata\local\programs\python\python39\lib\site-packages (from statsmodels) (2.0.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\shrab\appdata\local\programs\python\python39\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shrab\appdata\roaming\python\python39\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\shrab\appdata\local\programs\python\python39\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\shrab\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.2->pandas!=2.1.0,>=1.4->statsmodels) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 25.1.1 is available.
You should consider upgrading via the 'c:\Users\shrab\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [30]:
import statsmodels.api as sm

X = store1[["Day_Index", "CPI", "Unemployment", "Fuel_Price"]]
X = sm.add_constant(X)
y = store1["Weekly_Sales"]

model = sm.OLS(y, X).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           Weekly_Sales   R-squared:                       0.085
Model:                            OLS   Adj. R-squared:                  0.059
Method:                 Least Squares   F-statistic:                     3.212
Date:                Mon, 09 Jun 2025   Prob (F-statistic):             0.0148
Time:                        13:06:57   Log-Likelihood:                -1906.0
No. Observations:                 143   AIC:                             3822.
Df Residuals:                     138   BIC:                             3837.
Df Model:                           4
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const        -3.483e+06      3e+06     -1.160      0.248   -9.42e+06    2.45e+06
Day_Index      235.8714   1426.938      0.165      0.869   -2585.618    3057.360
CPI           1.986e+04   1.35e+04      1.466      0.145   -6930.717    4.66e+04
Unemployment  1.249e+05   5.92e+04      2.110      0.037    7838.064    2.42e+05
Fuel_Price   -6.746e+04   4.96e+04     -1.360      0.176   -1.66e+05    3.06e+04
==============================================================================
Omnibus:                       91.841   Durbin-Watson:                   1.544
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              632.993
Skew:                           2.238   Prob(JB):                    3.53e-138
Kurtosis:                      12.285   Cond. No.                     5.42e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.42e+04. This might indicate that there are
strong multicollinearity or other numerical problems.